.team-container {
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
    padding: 20px;

}

.person-description {
    margin-left: 20px;
    
}

@media (max-width: 900px) {
    .team-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .container-img {
       margin-left: 20px;
    }
}